@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

:root {

  --card-color-primary: #f7dd43;
  --card-bg-color: #1D1C19;

  
}

body.green {
  --card-color-primary: #047C3F;
  --card-bg-color: #1A1F1B;

}

body.blue {
  --card-color-primary: #338AF3;
  --card-bg-color: #202024;

}
li {
  text-decoration: none;
}

body {
  background: #121214;
  background-image: url(./assets/bg-blue.svg);
  background-position-x: center;
  background-position-y: -715px;
  color: #E1E1E6;
}

#app {
  width: fit-content;
  margin: 0 auto;
  margin: 52px auto;
  position: relative;
}

img [title] {
  text-transform: uppercase;
}

.check {
  padding: 5px 7px;
  background: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  margin: 5px;
}

.check input[type="checkbox"] {
  visibility: hidden;
}

.blue {
  top: -40px;
  right: 10px;
}

.yellow {
  top: -40px;
  right: 30px;
}
.green {
  top: -40px;
  right: -10px;
}
.header {
  margin-bottom: 63px;
}

.header img {
  display: block;
  margin: 0 auto 8px;
}
#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10px;
    /* flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start; */
  }
}

.card {
  margin: 0 auto;
  background: #1D1C19;
  border-radius: 6px;
  padding: 32px 23px;
  text-align: center;
  border-bottom: 2px solid var(--card-color-primary);
  opacity: 0;
  animation: dropDown 0.5s forwards;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-40px)
  }

  100% {
    opacity: 1;
  }
}

.card h2 {
  margin: 0 auto 53px;
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  font-weight: bold;
  border: 2px solid var(--card-color-primary);
  text-transform: uppercase;
  border-radius: 6px;
  width: fit-content;
}

.card h2>span {
  color: #F7DD43;
  font-size: 24px;
  font-weight: bold;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card li {
  list-style: none;
  display: flex;
  align-items: center; 
}

.card li + li{
  border-top: 1px solid #323238;
  padding-top: 24px;
}

.card strong {
  font-size: 36px;
  font-weight: 900;
  margin: 0 37.5px;
}

.card img [title] {
  border-radius: 6px;
}


